
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}


.forms-wrapper {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 2px solid c0bfbf;
  border-radius: 8px;
  background-color: #212121;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px #c0bfbf;
  width: 50%;
}


.login-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: black;
}

.login-form label {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  color: black;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: transparent;
  color: black;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px black;
}

.hyperlink {
  text-align: center;
  margin-top: 20px;
}

.hyperlink a {
  color: 005CE6;
  text-decoration: none;
}

.hyperlink a:hover {
  text-decoration: underline;
}

.radio-input {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.login-form button {
  width: 100%;
}