
 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }

  .forms-wrapper{
    background-color: #212121;
    width: 50%;
  }
  
  .form-box {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-box h1{
    display: flex;
    justify-content: center;
  }
  
  .form-box h1{
    display: flex;
    justify-content: center;
    
  }

  .form-box label{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .input-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  
  .input-fields input[type="text"],
  .input-fields input[type="email"],
  .input-fields input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #212121;
    border-radius: 3px;
    width: 80%;
  }

  .input-fields input[type="email"]:focus,
  .input-fields input[type="text"]:focus,
.input-fields input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 5px black;
}

    
  .radio-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

